<?xml version="1.0"?>
<launch>

	<!-- controllers -->
	<rosparam ns="ur_arm" command="load" file="$(find ur_arm)/config/ur_cartesian_controller.yaml"/>
	
	<!-- Cartesian stuff -->
	<node ns="ur_arm" name="twist_controller" pkg="cob_twist_controller" type="cob_twist_controller_node" cwd="node" respawn="false" output="screen">
		<remap from="joint_states" to="/joint_states"/>
	</node>
	<node ns="ur_arm" name="frame_tracker" pkg="cob_frame_tracker" type="cob_frame_tracker_node" cwd="node" respawn="false" output="screen"/>
	<node ns="ur_arm" name="interactive_target" pkg="cob_frame_tracker" type="interactive_frame_target_node" cwd="node" respawn="false" output="screen"/>

</launch>
